/*GENERAL*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body{
	font-family: 'Gentium Book Basic', serif;
	font-size: 18px;
	font-weight: lighter;
	background: url(../images/lollipop.jpg) no-repeat fixed 0% 25% / cover;
	text-align: left;
    padding: 10px 0;
}

a{
	color: black;
	text-decoration: none;
	border-bottom: 1px dotted dimgray;
}

h1{
	font-family: 'Pacifico', cursive;
	color: black;
	font-size: 72px;
	font-weight: 300;
	margin-bottom: 0px;
}

h2{
	font-style: italic;
	color: dimgray;
	/*text-transform: uppercase;*/
	font-size: 28px;
	font-weight: 300;
}

h3{
	font-family: 'Pacifico', cursive;
	font-size: 28px;
	font-weight: 300;
}

.content-wrapper{
	max-width: 1000px;
	width: 90%;
	margin:0 auto;
	padding: 10px 0;
}

.download{
	position: fixed;
	bottom: 25px;
	right: 50px;
	padding: 5px;
	color: dimgray;
	background: whitesmoke;
	text-decoration: none;
    width: 175px;
    height: 30px; 
    text-align: center;
    transition: all 0.5s ease;
}

.download:hover{
	background:black;
	color:white;
}

/*HEADER*/

header

.header{
	height: 300px;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	margin:0px;
}

.header h2{
	color: black;
}

/*PROFILE SECTION*/

.profile{
	background: rgba(0, 0, 0, 0.6);
}

.profile h2{
	color: whitesmoke;
}

.profile-img-container{
	float: left;
	width: 27%;
	margin-right: 3%;
}

.profile-img-container .profile-img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.summary h3{
	font-size: 48px;
	margin: 0px;
}

.summary{
	float: left;
	width: 70%;
	padding: 10px;
	margin-top: 25px;
	color:whitesmoke;
}

@media(max-width: 750px){
	.profile-img-container{
		width:100%;
	}

	.summary{
		width:100%;
		margin-top: 10px;
	}
}

/*PROFESSIONAL DEVELOPMENT SECTION*/

.professional-development{
	background:whitesmoke;
}

.courses{
	width: 20%;
	height: 100px;
	font-size: 14px;
	background: rgba(105, 105, 105, 0.6);
	float:left;
	border: 1px solid black;
	margin-right: 20%;
	padding-top: 30px;
	color: whitesmoke;
	border-radius: 15px;
    border: 2px solid dimgray;
    text-align: center;
    transition: all 0.5s ease;
}

.courses:last-of-type{
	margin-right:0;
}

.courses:hover{
	background: black;
}

@media(max-width: 750px){
	.courses{
	width: 30%;
	height: 100px;
	padding-top: 30px;
	float:left;
	border: 1px solid black;
	margin-right: 5%;
}

.courses:last-of-type{
	margin-right:0;
}
}

/*WORK EXPERIENCE SECTION*/

.work-experience{
	background:whitesmoke;
}

.work-experience .item{
	border-bottom: 1px dashed dimgray;
}

.work-experience .item:last-of-type{
	border-bottom: none;
}

/*SKILLS SECTION*/

.skills h2{
	color: whitesmoke;
	margin-left: 30px;
}

.skills li{
	color: whitesmoke;
}

.skills{
	background-color: dimgray;
	text-align: left;
    padding: 0px 0;
}

.skills-list .columns{
	float: left;
	width: 32%;
	margin-right: 2%;
}

.skills-list .columns:last-of-type{
	margin-right: 0;
}

@media(max-width:750px){
	.skills-list .columns{
		width:100%;
		margin-right:0;
	}
	.skills-list .columns:last-of-type{
		width:100%;
	}
}

/*EDUCATION SECTION*/

.education{
	background: whitesmoke;
}

/*CONTACT SECTION*/

.contact{
	color: whitesmoke;
	background: url(../images/sunset.jpg) fixed 0% 0% / cover;
}

.contact .fa-twitter{
	color: #67AEEB;
}

.contact .fa-linkedin{
	color: #3488BD;
}

.contact a{
	color: whitesmoke;
}
	